# Outlines
how_to_build_project.txt
outline.txt

# build artifacts
build/

# library files managed by vcpkg
lib/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio Code settings
.vscode/

# system files
Thumbs.db